.titulo{
  margin: 10px;
  font-size: 4em;
  color: #000;
  text-shadow: 2px 1px 0px #eee, 5px 4px 0px rgba(0, 0, 0, 0.15);
  font-family: $font-family-serif;
  font-style: italic;
  & > a{
    text-decoration: none;
    color: #000;
    margin-left: 15px;
  }
  & > .logo{
    width: 100px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: $screen-xs-max) {
  .titulo{
    font-size: 1.6em;
    padding-bottom: 15px;
    padding-top: 15px;
    & > a{
      margin-left: 5px;
    }
    & > .logo{
      width: 25px;
      margin-bottom: 5px;
    }
  }
}